<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/public/static/css/main.css">
    <title> CTea </title>
    <script src="/public/js/jquery-3.5.1.min.js"></script>
    <script type="text/json" src="/public/json/data.json"></script>
    <script src="/public/js/game.js"></script>
    <style type="text/css">
        html {
            font-family: monospace;
            height: 100%;
            background-image: url(/public/image/Background_game.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-attachment: fixed;
        }
    </style>
</head>


<body>
    <header>
        <div class="name_header">
            Galaxy
        </div>
    </header>
    <main class="window-choise-game">
        <button class="choise-galaxy" style="background-image: url('/public/image/galaxy1.jpg');
            background-repeat: no-repeat; background-size: 100%;" onclick="window.location.href='game.html'"> </button>
        <button class="choise-galaxy" style="background-image: url('/public/image/galaxy2.jpg');
            background-repeat: no-repeat; background-size: 100%;" onclick="window.location.href='game.html'"> </button>
        <button class="choise-galaxy" style="background-image: url('/public/image/galaxy3.jpg');
            background-repeat: no-repeat; background-size: 100%;" onclick="window.location.href='game.html'"> </button>
        <button class="choise-galaxy" style="background-image: url('/public/image/galaxy4.jpg');
            background-repeat: no-repeat; background-size: 100%;" onclick="window.location.href='game.html'"> </button>
    </main>

</body>
<script src="/public/js/lang.js"></script>
</html>