<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/public/static/css/main.css">
    <title> CTea </title>
    <script src="/public/js/jquery-3.5.1.min.js"></script>
    <style type="text/css">
        html {
            background-color: #0000009a;
            width: 100%;
            height: 100%;
            overflow-x: scroll;
        }
    </style>
</head>

<body>
    <main class="pole_game">
        <div class="gm-cardplace star" ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="orb"></div>
        <div class="gm-cardplace cp-1"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="gm-cardplace cp-2"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="gm-cardplace cp-3"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="orb2"></div>
        <div class="gm-cardplace cp-4"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="gm-cardplace cp-5"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="gm-cardplace cp-6"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="gm-cardplace cp-7"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="gm-cardplace cp-8"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="orb3"></div>
        <div class="gm-cardplace cp-9"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="gm-cardplace cp-10"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="gm-cardplace cp-11"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="gm-cardplace cp-12"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="gm-cardplace cp-13"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="gm-cardplace cp-14"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
        <div class="gm-cardplace cp-15"ondragover='onDragOver(event);'ondrop='onDrop(event);'></div>
    </main>
</body>
<script src="/public/js/game.js "></script>
<script src="/public/js/lang.js"></script>
</html>